@media only screen and (max-width: 1024px) {
    .show-flex_img {
        width: 50%;
    }
.header-top{
    padding:  15px;
}
}


@media only screen and (max-width: 767px) {


    .header-top h2 {
        display: none;
    }



    .people, .contact, .tell {
        padding: 153px 15px;
    }

    .people-container img {
        width: 100%;
    }

    .people-container {
        width: 100%;
        margin-bottom: 59px;
    }

    .people-container .inf {
        display: none;
    }

    .people-container .inf-mobi {
        display: block;
        color: #021725;
        font-family: "Open Sans", sans-serif;
        font-size: 29px;
        font-weight: 300;
    }

    .last-post {
        padding: 15px;
    }

    .contact-info .email-mobi {
        display: block;
    }

    .contact-info .email-dask {
        display: none;
    }

    .show-flex_img {
        width: 100%;
    }

    .last-post_content, .last-post_img {
        width: 100%;
    }

    header {
        background-image: url("../images/bg-mobile.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        /*padding-bottom:  110%;*/

    }

header h1{
    margin-top: 260px;
    font-size: 60px;

}
header h1:after{
    display: block;
    content: "";
    background-image: url("../images/after_03.png");
    width: 61px;
    height: 61px;
    color: white;
    border-radius: 50%;
    /*margin-top: 75px;*/
    position: relative;
    left: 45%;
    top: 60px;

}

    .header-top {
        background-color: #545a5b;
        opacity: 0.7;
        padding: initial;
    }
.header-top_logo{
    margin: 10px 0 10px 25px;
}
.eee{
    width: 86px;
    height: unset  ;
    background-color: #253036;
    opacity: 0.6;
}
    }





@media only screen and (max-width: 414px) {



}



@media only screen and (max-width: 320px) {
.contact-info p{
    font-size: 15px;
}

}