* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 3.75rem;
    background-color: transparent;
    transition: 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    will-change: width;
    z-index: 99;
}

.nav__trigger.is-active {
    position: relative;
    right: 0;
    margin: 0;
}

.nav.is-active {
    width: 100%;
    background-color: lightskyblue;
}

.nav__trigger {
    display: block;
    position: relative;
    top: 1%;
    right: 45%;
    /*margin-right: 20%;*/
    /*margin-top: -10px;*/
    padding: 8px 0;
    transition: 0.2s ease-in-out;
    z-index: 10;
}

.nav__trigger .bars {
    position: relative;
}

.nav__trigger .bars, .nav__trigger .bars:before, .nav__trigger .bars:after {
    width: 37px;
    height: 4px;
    background-color: white;
    border-radius: 2px;
    transition: 0.2s ease-in-out;
}

.nav__trigger .bars:before, .nav__trigger .bars:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
}

.nav__trigger .bars:before {
    transform: translateY(-8px);
}

.nav__trigger .bars:after {
    transform: translateY(8px);
}

.nav__trigger.is-active {
    transform: rotate(-45deg);
    position: absolute;
    right: 6%;
}

.nav__trigger.is-active .bars:before, .nav__trigger.is-active .bars:after {
    transform: translateX(0) rotate(-90deg);
}

.nav__content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 1200px;
    padding: 1rem 3.75rem 1rem 2.75rem;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%);
    transition: 0s linear 0.25s;
}

.nav__content.is-active {
    visibility: visible;
    opacity: 1;
    transition: 0s linear;
}

.nav__content.is-active .nav__item a {
    opacity: 1;
    transform: translateY(0);
    transition-property: transform, opacity, color;
    transition-duration: 0.55s, 0.55s, 0.3s;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1), ease-in-out, ease-in-out;
}

.nav__content.is-active .nav__list .nav__item:nth-of-type(1) a {
    transition-delay: 0s, 0s, 0s;
}

.nav__content.is-active .nav__list .nav__item:nth-of-type(2) a {
    transition-delay: 0.05s, 0.05s, 0s;
}

.nav__content.is-active .nav__list .nav__item:nth-of-type(3) a {
    transition-delay: 0.1s, 0.1s, 0s;
}

.nav__content.is-active .nav__list .nav__item:nth-of-type(4) a {
    transition-delay: 0.15s, 0.15s, 0s;
}

.nav__content.is-active .nav__list .nav__item:nth-of-type(5) a {
    transition-delay: 0.2s, 0.2s, 0s;
}

.nav__content.is-active .nav__list .nav__item:nth-of-type(6) a {
    transition-delay: 0.25s, 0.25s, 0s;
}

.nav__content.is-active .nav__list .nav__item:nth-of-type(7) a {
    transition-delay: 0.3s, 0.3s, 0s;
}

.nav__content.is-active .nav__list .nav__item:nth-of-type(8) a {
    transition-delay: 0.35s, 0.35s, 0s;
}

.nav__content.is-active .nav__list .nav__item:nth-of-type(9) a {
    transition-delay: 0.4s, 0.4s, 0s;
}

.nav__list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__item {
    overflow: hidden;
}

.nav__item a {
    display: inline-block;
    padding: 1rem;
    color: darkblue;
    text-decoration: none;
    font-size: 3rem;
    font-size: 10vw;
    font-size: 14vmin;
    font-weight: 300;
    opacity: 0;
    transform: translateY(100%);
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    will-change: transform, opacity;
}

.nav__item a:hover {
    color: white;
}

.nav__divider {
    margin: 1.75rem 0 1.5rem;
    width: 100%;
    height: 2px;
    background-color: #9ac6ac;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.header-top_wrap {
    position: relative;
}

header {
    background-image: url("../images/bg-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 500px;
    background-position: top center;


}

.header-top_logo {
    opacity: 0;
    transition: 1s;
    animation: show 3s 1;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    animation-delay: 3s;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.header-top {
    position: relative;
    padding: 17px 0;
    max-width: 1185px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-top h2 {
    margin-right: 40px;
    color: #ffffff;
    font-family: "Open Sans - Semibold", sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.8px;

}


header h1 {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 80px;
    font-weight: 300;
    line-height: 60px;
    text-align: center;
    margin-top: 350px;

}


header span {
    font-style: italic;
}


.tell {
    background-color: #ffffff;
    padding: 81px 0 80px;
}

.wraper {
    max-width: 769px;
    margin: auto;
    text-align: center;
}

.tell h5 {
    color: #d4af37;
    font-family: "Open Sans - Semibold", sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 0.65px;
    margin-bottom: 22px;

}

.tell h3 {
    margin-bottom: 53px;
    opacity: 0.7;
    color: #021725;
    font-family: "Open Sans - Semibold", sans-serif;
    font-size: 44px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 2.2px;
}

.tell p {
    color: #021725;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.9px;
    margin-bottom: 46px;
}

.tell .tell-link {
    display: inline-block;
    color: #021725;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.7px;
    padding: 23px 49px;
    text-decoration: none;
    border: 1px solid #000000;
}

.tell-link:hover {
    background-color: orange;
    color: white;
    -webkit-box-shadow: 0 1px 10px 10px #634322;
    box-shadow: 0 1px 10px 10px #634322;
}

.show {
    background-color: #ffffff;
    padding: 81px 0;
}

.show h5 {
    color: #d4af37;
    font-family: "Open Sans - Semibold", sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 0.65px;
    margin-bottom: 22px;

}

.show h3 {
    margin-bottom: 81px;
    opacity: 0.7;
    color: #021725;
    font-family: "Open Sans - Semibold", sans-serif;
    font-size: 44px;
    font-weight: 600;
    line-height: 60px;

}

.show-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.show-flex_img {
    width: 24.5%;
}

.show-flex_img img {
    width: 100%;
}

.show-flex_img img {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.show-flex_img img:hover {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);

}


.people {
    background-color: #ffffff;
    padding: 81px 0;
}

.people-wraper {
    max-width: 769px;
    margin: auto;
    text-align: center;
}

.people h5 {
    color: #d4af37;
    font-family: "Open Sans - Semibold", sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 0.65px;
    margin-bottom: 22px;

}

.people h3 {
    margin-bottom: 45px;
    opacity: 0.7;
    color: #021725;
    font-family: "Open Sans - Semibold", sans-serif;
    font-size: 44px;
    font-weight: 600;
    line-height: 60px;

}

.people .people-text {
    color: #021725;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.9px;

}


.people-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
    flex-wrap: wrap;
    margin-top: 50px;
}

.people-container {
    background-color: #f9f9f9;
    width: 246px;
}

.people-container img:hover {
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
    z-index: 30;
    border: 2px solid orange;
    -webkit-box-shadow: 0 1px 10px 10px #634322;
    box-shadow: 0 1px 10px 10px #634322;

}

.people-container h6 {
    color: #d4af37;
    font-family: "Open Sans - Semibold", sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.65px;
    margin-bottom: 15px;

}

.people-container h4 {
    opacity: 0.7;
    color: #021725;
    font-family: "Open Sans", sans-serif;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 1.05px;
    margin-bottom: 30px;

}

.people-container .inf {
    color: #021725;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0.65px;

}

.people-container .inf-mobi {
    display: none;
}

.people-flex_info {
    padding: 20px 0 48px 16px;

}

.last-post {
    padding-bottom: 160px;
}

.last-post h5 {
    color: #d4af37;
    font-family: "Open Sans - Semibold", sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 0.65px;
    margin-bottom: 22px;
}

.last-post h3 {
    margin-bottom: 51px;
    color: #505d68;
    font-family: "Open Sans - Semibold", sans-serif;
    font-size: 44px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 2.2px;
}

.last-post_flex {
    max-width: 769px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 85px;

}

.last-post_content, .last-post_img {
    width: 50%;
    height: 100%;
}

.last-post_flex img {
    width: 100%;
}


.last-post_content {
    background-color: #f9f9f9;
    padding: 40px 38px 60px;
    text-align: left;
}

.last-post_content h6 {
    color: #505d68;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.65px;
    margin-bottom: 20px;
}

.last-post_content h4 {
    color: #505d68;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.9px;
    margin-bottom: 33px;
}

.last-post_content p {
    color: #505d68;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24.7px;
    letter-spacing: 0.8px;
    margin-bottom: 60px;
}

.last-post_read {
    padding: 18px 48px;
    color: #021725;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.7px;
    border: 1px solid #000000;
    text-decoration: none;
}

.last-post_read:hover {
    background-color: #C42C21;
    color: white;
    -webkit-box-shadow: 0 1px 10px 10px #54574A;
    box-shadow: 0 1px 10px 10px #54574A;
}

.last-post_more {
    padding: 23px 51px;
    border: 1px solid #000000;
    text-decoration: none;

    color: #021725;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.7px;

}

.last-post_more:hover {
    background-color: orange;
    color: white;
    -webkit-box-shadow: 0 1px 10px 10px #634322;
    box-shadow: 0 1px 10px 10px #634322;
}

.contact {
    padding: 82px 0;
}

.contact .wraper {
    display: flex;
    flex-direction: column;
}

iframe {
    max-width: 100%;
    position: relative;
}

.contact h5 {
    color: #d4af37;
    font-family: "Open Sans - Semibold", sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 0.65px;
    margin-bottom: 22px;
}

.contact h3 {
    margin-bottom: 51px;
    color: #505d68;
    font-family: "Open Sans - Semibold", sans-serif;
    font-size: 44px;
    font-weight: 400;
    line-height: 60px;

}

.contact-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f9f9f9;

}

.contact-info {
    width: 50%;
    padding: 52px 0 44px;
}

.contact-info h4 {
    margin-bottom: 49px;
    color: #505d68;
    font-family: "Open Sans - Semibold", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 0.65px;
}

.contact-info p {
    color: #505d68;
    font-family: "Open Sans", sans-serif;
    font-size: 19px;
    font-weight: 300;
    line-height: 34px;

    letter-spacing: 0.57px;
}

.contact-info .email-mobi {
    display: none;
}

footer {
    background-color: #eeeeee;

}

.footer-wraper {
    padding: 41px 15px 35px;
    max-width: 769px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-wraper h4 {
    color: #505d68;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
}


